/* 

***FONT SIZE***

8px, 10px, 14px, 18px, 21px, 25px, 30px, 36px, 43px, 52px, 62px, 74px, 90px 

***WHITESPACE SIZE***

8px, 10px, 12px , 16px, 20px, 24px, 30px, 38px, 48px, 60px, 76px, 94px

***FONT WEIGHT***

Regular 400
Medium 500
Semi Bold 600
Bold 700

***COLORS***
White
#fff
#f1f1f1 Shade

Grey
#eee
#ddd
#777
#444

Black
#1f1f1f
#1b1b1b
#222

Secondary
#fb4d4d Lighter
#fa2020 Main
#c81a1a Darker

***SHADOWS***

0px 10px 12px 1px rgb(0 0 0 / 20%) / category box
-0.5px 0px 0px 0px #ddd / buy used car

***LINE HEIGHTS***

line-height: 1.4;
font-size: 2.4rem;

line-height: 1.6;
font-size: 2rem;

line-height: 2;
font-size: 1.8rem;

line-height: 1.1;
font-size: 5.2rem;

*** LETTER SPACING***

-1px;
font-size: 5.6rem;

-4px;
font-size: 8.6rem;

1px;
font-size: 3.2rem;


***BORDER RADIUS***
10px
*/

:root {
  --main-color: rgba(54, 162, 235, 1);
  --light-main-color: #5eb5ef;
  --dark-main-color: #2b82bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1b1b1b;
  /* Only works if there is nothing absolutely positioned */
  overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.flex {
  display: flex;
}

.flex-dir--column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;

  margin-bottom: 2.4rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
  border-radius: 10px;
}
.btn-experience:link,
.btn-experience:visited {
  background-color: var(--main-color);
  color: #fff;
  transition: 300ms all;
}

.btn-experience:hover,
.btn-experience:active {
  background-color: var(--dark-main-color);
}

.btn-learn-more:link,
.btn-learn-more:visited {
  background-color: none;
  color: #1b1b1b;
  transition: 300ms all;
}

.btn-learn-more:hover,
.btn-learn-more:active {
  background-color: #f1f1f1;
}
.section {
  transition: all 0.7s;
}
.section-hidden {
  transform: translateY(60rem);
}

.opacity-zero {
  opacity: 0;
  transition: all 0.1s;
}
.hidden {
  display: none;
}
